* {
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
}
body {
    background-color: slateblue;
    background-image: url("../img/background.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    will-change: transform;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row {
    margin: 0 2px;
}

@media (max-width: 768px ) {
    .row {
        margin: 30px 30px;
    }
}

.key {
    display: inline-block;
    margin: auto 5px;
}

.key.playing {
    transform: scale(1.2);
}

.key a:active {
    outline-color: goldenrod;
    padding: 15px 20px;
}

.key a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    outline: solid sandybrown 3px;
}

.key.playing a {
    outline-color: goldenrod;
}